* {
    box-sizing: border-box;
}

body {
    background-color: #f5f3e7;
    margin-top: 50px;
    margin-left: 150px;
    margin-bottom: 50px;
    margin-right: 150px;
    user-select: none;
}

header {
    display: block;
    position: sticky;
    z-index: 5; 
    background-color: #f5f3e7;
    text-align: center;
    top: -0.1px;
    left: 5%;
    bottom: 50%;
    right: 5%;
    height: 132px;
    width: 100%;
}

.title {
    text-align: justify;
    font-family: 微軟正黑體;
    margin: 0px 0px -40px 0px;
}

.title a {
    padding: 10px;
    display: inline-block;
    color: #795f3b;
    text-decoration: none;
}

nav a:hover {
    color: #b49f82;
}

.header-nav {
    display: flex;
    justify-content: flex-end;
}

.header-nav a {
    padding: 10px;
    display: inline-block;
    color: #795f3b;
    text-decoration: none;
}

.header-nav a:hover {
    color: #b49f82;
}

.icon {
    width: 20px;
    height: 20px;
    margin: 0px 10px 0px 10px;
    position: sticky;
    display: block;
}

.icon:hover {
    transform: scale(1.5);
}

/*搜尋*/
.searchbar {
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    border-radius: 13px;
    border-style: ridge;
    background: #f5f3e7;
    border-color: #795f3b;
    text-align: right;
}

.searchbar:hover {
    background: #f5f3e7;
    border-style: hidden;
    border-radius: 13px;
}

/*info*/
.section5 img {
    width: 400px;
    height: 400px;
    padding: 2% 3% 0.5% 3%;
    float: left;
    text-align: center;
}

.section5 img:hover {
    transform: scale(1.1);
}

.head {
    width: 100px;
    height: 100px;
    margin-top: 100px;
    margin-right: 13%;
    border-radius: 50%;


}

.section4 {
    background-color: #d8cfb7;
    text-align: center;
    word-spacing: 380px;
    font-size: 20px;
    margin: 10px;
    width: 1200px;
    border-radius: 10px;
    font-family: 微軟正黑體
}

.section5 {
    width: 100%;
    height: 550px;
    background-color: #ece6c8;
    font-size: 20px;
    letter-spacing: 2.5px;
    border-radius: 2px;
    font-family: 微軟正黑體
}

.left {
    margin: 15px 150px 15px;
    float: left;
    text-align: center;

}

.cen {
    float: left;
}

.button {
    width: 100px;
    height: 30px;
}



.part1 img {
    width: 500px;
    height: 500px;
    margin: 20px;
    float: left;

}

.part1 {
    background-color: #d3d0c2bb;
    color: #333d56;
    font-size: 30px;
    padding: 20px;
    clear: left;
    height: 560px;
    border-radius: 5px;
    margin: 20px;
}

.word {
    float: left;
    font-size: 20px;
    text-align: left;
    position: relative;
    top: 380px;
}

.word1 {
    position: relative;
    top: 145px;
    text-align: left;
    position: relative;
    right: 220px;
}

form {
    margin: 20px;
}

.part3 section {
    background-color: rgb(177, 160, 133);
    border-radius: 20px;
    margin: 50px;
    width: 500px;
    float: left;
    text-align: left;
}

a {
    text-decoration: none;
    color: rgb(79, 41, 11);
}

.section4 a:hover {
    transform: scale(1.2);
    background-color: white;
    border-radius: 5%;
}

.part3 {
    text-align: center;
}

input {
    background-color: #795f3b;
    border-radius: 10%;
    color: white;
}

input:hover {
    transform: scale(1.1);
    background-color: white;
    border-color: #795f3b;
    color: #795f3b;
}

.word2 input {
    border-color: #795f3b;
    transform: scale(1);
    background-color: white;
    color: #795f3b;
    border-radius: 0%;
    float: left;
    margin-right: 10px;
    margin-top: 13px;
}